.nav-area a{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
}
.nav-area .navbarText{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.nav-area .navbarText li{
    font-size: 30px;
}


.sidenav {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }